/*
 *
 *     Name:       Base16 Ocean Dark
 *         Author:     Chris Kempson (http://chriskempson.com)
 *
 *             CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
 *                 CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
 *                     Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 *
 *                     */

/* Uncomment to use a custom font */
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Droid Sans Mono Slashed', monospace !important;
}

div#header {
	background: #444444;
	color: #b3c4d5;
}

/* GLOBALS */
/* original background color: #2b303b */
body {background-color: #444444;}
a {color: #8fa1b3;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #dfe1e8;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
/*div#maintoolbar, div#header {display: none !important;}*/

div#notebook {border-top: none; background: #333333}
div#notebook-container {background: #444444}
div#texteditor-backdrop {background: #333333}

.container { width:98% !important; }

div.input_prompt {color: #FFFFBB;}
div.output_prompt {color: #b48ead;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #4f5b66;
}
div.output_area pre {font-weight: normal; color: #c0c5ce;}
div.output_subarea {font-weight: normal; color: #c0c5ce;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #c0c5ce solid;
  color: #c0c5ce;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #c0c5ce;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #b48ead;}
div.text_cell_render, div.output_html {color: #c0c5ce;}

span.ansiblack {color: #343d46;}
span.ansiblue {color: #96b5b4;}
span.ansigray {color: #a7adba;}
span.ansigreen {color: #a3be8c;}
span.ansipurple {color: #b48ead;}
span.ansired {color: #bf616a;}
span.ansiyellow {color: #ebcb8b;}

div.output_stderr {background-color: #bf616a;}
div.output_stderr pre {color: #dfe1e8;}


.cm-s-ipython.CodeMirror {background: #333333; color: #dfe1e8;}
.cm-s-ipython .CodeMirror-gutters {background: #222222; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #65737e;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-ipython span.cm-comment {color: #ab7967;}
.cm-s-ipython span.cm-atom {color: #b48ead;}
.cm-s-ipython span.cm-number {color: #ee88ee;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #a3be8c;}
.cm-s-ipython span.cm-keyword {color: #95abff;}
.cm-s-ipython span.cm-string {color: #3bcc5f;}
.cm-s-ipython span.cm-operator {color: #0ceded;}
.cm-s-ipython span.cm-builtin {color: #ffae45;}
.cm-s-ipython span.cm-variable {color: #B3C4D5;}
.cm-s-ipython span.cm-variable-2 {color: #8fa1b3;}
.cm-s-ipython span.cm-def {color: #ff9cff ;}
/*.cm-s-ipython span.cm-def {color: #ffae45 ;}*/
.cm-s-ipython span.cm-error {color: #FF3333;}

.cm-s-ipython span.cm-bracket {color: #c0c5ce;}
.cm-s-ipython span.cm-tag {color: #bf616a;}
.cm-s-ipython span.cm-link {color: #b48ead;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #dfe1e8 !important;}

/* benklaas tweaks */
.dropdown-menu, .btn-default, .toolbar select, .dropdown-menu>li>a, .navbar-default, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navb    ar-nav>.open>a:focus, span#login_widget>.button, #logout, #header .header-bar {
	background-color: #333;
}

.btn-default, .toolbar select, .dropdown-menu>li>a {
	color: #b3c4d5;
	border-color: #333;
}

.navbar-default {
	border-color: #333;
}

#kernel_indicator, .list_header, span#login_widget>.button, #logout, .navbar-default .navbar-nav>li>a {
	color: #b3c4d5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #555;
}

span#login_widget>.button, #logout {
	border-color: #444;
}

.list_header, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .dropdown-menu .divider {
	background-color: #444;
}

.nav-tabs, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus  {
	border: 1px solid #b3c4d5;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus  {
	border-bottom: none;
}

.CodeMirror-linenumbers {
	background-color: #333 !important;
}

